doctype
html(lang='en')
    head
        include Includes/header
        include Includes/mixins

        link(rel='stylesheet', href='/CSS/index.css')
    body
        #loader-wrapper
            #loader
            .loader-section.section-left
            .loader-section.section-right
        include Includes/navbar
        .jumbotron.text-center.bg-transparent
            img.img-fluid(src=client.user.displayAvatarURL({ dynamic: true, format: "png", size: 256 }))
            h1.display-3 #{client.user.username}
            p.lead #{client.user.username} is a bot to improve your server!
            p.lead Better server management and much more utility and fun commands
            p.lead Ticket system, giveaway and drop management, currency system, moderation commands, 
            p.lead some game commands and music commands with basic stream quality!
            a.btn.btn-dark(href='/invite', target="_blank")
                i.far.fa-envelope
                span.pl-1 Invite #{client.user.username}
            p
            a.btn.btn-dark(href="/supportserver", target="_blank") 
                i.fab.fa-discord
                span.pl-1 Join Support Server
        include Includes/footer