section#overviewModule.module.px-5
    if client.guilds.cache.has(guild.id)
        - var guild = client.guilds.cache.get(guild.id)
        .form-group.mt-5
            .row.text-center
                .col-lg-3.col-md-6
                    .border.rounded.m-3.p-3
                        p.uppercase
                            i.fas.fa-user-ninja(style="color: white;")
                            strong.ml-1(style="color: white;") Owner
                        p.mb-0(style="color: white;") #{guild.owner.user.tag}
                .col-lg-3.col-md-6
                    .border.rounded.m-3.p-3
                        p.uppercase
                            i.fas.fa-user-alt(style="color: white;")
                            strong.ml-1(style="color: white;") Members
                        p.mb-0(style="color: white;") #{guild.memberCount}
                .col-lg-3.col-md-6
                    .border.rounded.m-3.p-3
                        p.uppercase
                            i.fas.fa-at(style="color: white;")
                            strong.ml-1(style="color: white;") Roles
                        p.mb-0(style="color: white;") #{guild.roles.cache.size}
                .col-lg-3.col-md-6
                    .border.rounded.m-3.p-3
                        p.uppercase
                            i.fas.fa-hashtag(style="color: white;")
                            strong.ml-1(style="color: white;") Channels
                        p.mb-0(style="color: white;") #{guild.channels.cache.size}