doctype
html(lang='en')
    head
        include ../Includes/header.pug
    
        script(src='/JS/sidebar.js', defer)
        script(src='/JS/guild.js', defer)
        link(rel='stylesheet', href='/CSS/sidebar.css')
    body
    include ../Includes/sidebar.pug

    #sidebarExtension.bg-light
        header.text-center.pt-4
            .large-icon.bg-white.round
                if guild.icon
                    img.round(src=guild.iconUrl(128 ), alt=guild.name)
                else
                    p.abbr #{guild.nameAcronym}
            h4#overview.pt-2 #{guild.name}
            .tabs.navbar-nav
            .category Modules
            a#autoMod.cursor-pointer #[i.fas.fa-gavel.pr-1.text-muted] Auto-Mod
            a#economy.cursor-pointer #[i.fas.fa-coins.pr-1.text-muted] Economy
            a#general.cursor-pointer #[i.fas.fa-star.pr-1.text-muted] General
            a#music.cursor-pointer #[i.fas.fa-music.pr-1.text-muted] Music

    include ../Includes/navbar.pug

    include Modules/overview.pug
    include Modules/auto-mod.pug
    include Modules/economy.pug
    include Modules/general.pug
    include Modules/music.pug